#first-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 60vw;
}

#first-image {
    padding-top: 32px;
    padding-bottom: 32px;
}

@media only screen and (max-width: 576px) {

    #first-image {
        width: 100vw;
    }

}



.article-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 35vw;
}

.card-image {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    width: 35vw;
}
.card-image2 {
    max-width: 70%;
    height: auto;
    object-fit: cover;
    width: 100vw;
}


#card-xxx {
    margin: 35px 32px 32px 72px;


}